/* BORDER BOX */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/* GLOBAL */
body {
	margin: 0;
	background-color: #222;
}
* {
	font-family: 'Kelly Slab', cursive;
	line-height: 1em;
}
/* MAIN SHELL */
.game {
	position: relative;
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 170px calc((100vw / 17) * 14) auto;
	background-color: #000;
}
.header {
	display: grid;
	grid-template-columns: 50fr 50fr;
	color: #FFF;
	background-color: #000000;
	font-size: 12px;
}
.title {
	padding: 0 0 0 10px;
	display: grid;
	align-items: center;
	justify-content: left;
}
.arrows {
	padding: 0 10px 0 0;
	display: grid;
	align-items: center;
	justify-content: right;
}
.map {
	position: relative;
	background-color: #524110;
	background-image: url(../img/map-new.png);
	/* REMINDER TO USE SVG MAP */
	/*background-image: url(../img/Map.svg);*/
	background-repeat: no-repeat;
	background-size: 100%;
}
.messages {
	display: grid;
	align-items: center;
	justify-content: center;
	color: #2e1303;
	background-color: #9d1303;
	padding: 10px 20px;
}
.message {
	font-size: 28px;
}
.message p {
	margin: 5px 0;
	text-align: center;
}
.character {
	font-size: 12px;
	color: #eee;
	background-color: #000000;
}
.controls {
	display: grid;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 210px;
	width: 100%;
	height: calc((100vw / 17) * 14);
	background-color: rgba(100, 100, 100, .9);
}
.actions {
	display: grid;
	width: 80%;
	height: 50px;
}
.actions-first {
	grid-template-columns: 50fr 50fr;
}
.actions-second {
	grid-template-columns: auto auto auto;	
}
#action-confirm {
	color: #008000;
	font-size: 32px;
}
.action-btn {
	display: grid;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 20px 30px;
	border: 1px solid #eee;
	background-color: #1bc8f9;
	cursor: pointer;
}
.btn-active {
	background-color: #1bc8f9;
}
.enlarge {
	transform: scale(1.5,1.5);
}
/* PLAYER */
.player {
	display: grid;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-family: Arial Narrow;
	font-size: 13px;
	font-weight: bold;
	color: #eee;
	height: calc(100vw / 17);
	width: calc(100vw / 17);
	background-color: #0f80ff;
	border-radius: 50%;
	border: 2px solid #eee;
	transition: all 1s;
	transition-timing-function: linear;
	transform: scale(1.25,1.25);
	z-index: 100;
}
/* MAP */
.room {
	display: grid;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-family: Tahoma;
	font-size: 10px;
	text-align: center;
	color: #eee;
	height: calc(100vw / 17);
	width: calc(100vw / 17);
	background-color: #000;
	border-radius: 50%;
	transition: all .5s;
	cursor: pointer;
}
.room.active {
	color: #333;
	background: #999;
	transform: scale(1.75,1.75);
}
.room.dead {
	background: #ff0000;
	transform: scale(1.75,1.75);
}
.room.win {
	background: #108001;
	transform: scale(1.75,1.75);
}
.room.potential {
	color: #333;
	background: #FFCC33;
	transform: scale(1.65,1.65);
}
@media only screen and (min-width: 768px) {
    .game {
    	margin: 50px auto 0;
    	width: 375px;
    	height: 668px;
		/* grid-template-rows: 40px auto calc((375px / 17) * 14) 60px; */
		grid-template-rows: 40px 170px calc((375px / 17) * 14) auto;
	}
	.controls {
		height: calc((375px / 17) * 14);
	}
    .room, .player, .krampus {
    	height: calc(375px / 17);
    	width: calc(375px / 17);
    }
}